.post
  %h2.title= link_to post.title, post 
    
  %h3.subtitle= post.subtitle
  
  .content
    = render inline: post.content, type: 'erb'

  %span.author
    By
    = User.find(post.user_id).name
  \|
  %span.time
    Posted at
    = post.created_at.to_formatted_s :long_american
  %br
  = facebook_button href: post_url(post)  
  = tweet_button url: post_url(post), text: "Look at what Phil Pham thinks at"
