%p#notice= notice

%h1 A place to ponder

- @posts.each do |post|  
  = render 'post', post: post
  - if current_user
    = link_to 'Show', post
    \|
    = link_to 'Edit', edit_post_path(post)
    \|
    = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if current_user
  = link_to 'New Post', new_post_path
