!!!
- content_for :right do
  #bio
    %h1.title Get a load of this guy...
    = image_tag 'profile.jpg', id: 'profile-img', alt: "me, doing some yard work"
    .content
      %p My name is Philip Pham. I'm #{time_ago_in_words Time.local(1989,5,7)} old and a Data Scientist in Boston, MA. A total nerd, I occupy myself doing math, coding, and reading classics. 
      %p Sometimes, I cook and lift. My current goals consist of learning more math, snatching enough weight to earn a man card, ridding myself of forever alone status, and growing a few inches.      
      %p I'm happy, free, confused, and lonely at the same time. It's miserable and magical, oh yeah.
  %p#sidebar-fb
    = facebook_button
    %br
    = link_to "Friend me on facebook", 'https://www.facebook.com/philip.pham2'

  %p#twitter-feed    
    = tweet_button text: "See what Phil Pham is thinking at"
    %br
    %a(class="twitter-timeline"
       href="https://twitter.com/philly_pham" data-widget-id="280437461690224641") 
      Tweets by @philly_pham
  
%html
  %head
    %title PhillyPham
    = csrf_meta_tag
    %meta(charset="utf-8")
    = tag 'meta', property: "fb:app_id", content: "475283969228455"
    - if @og
      = display_og_meta_tags @og
    - else
      = display_og_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body
    %h1#title PhillyPham.com
    %h2#subtitle ...Reminiscing on Rails

    #right-sidebar
      = yield :right

    #nav-bar
      %span.nav-link= link_to "Home", root_url
      \|
      %span.nav-link Coming soon!
      \|
      %span.nav-link Coming in a long time!

    #content
      = yield






